/* Default style */
.ALUI-Anchor{
  padding: 0 2px ;
  text-decoration: none;
}

.ALUI-Anchor:hover{
  opacity: .7;
  text-decoration: underline;
}
.ALUI-Anchor:active{opacity: 1;}

/* Color */
.ALUI-Anchor-color-blue {color: var(--color-primary-blue);}
.ALUI-Anchor-color-red {color: var(--color-primary-red);}
.ALUI-Anchor-color-green {color: var(--color-primary-green);}
.ALUI-Anchor-color-purple {color: var(--color-primary-purple);}
.ALUI-Anchor-color-orange {color: var(--color-primary-orange);}
.ALUI-Anchor-color-gray {color: var(--color-primary-gray);}
.ALUI-Anchor-color-black {color: var(--color-primary-black);}

/* Size */
.ALUI-Anchor-size-s {font-size: 11px;}
.ALUI-Anchor-size-md {font-size: 13px;}
.ALUI-Anchor-size-l {font-size: 16px;}

/* Weight */
.ALUI-Anchor-weight-light {font-weight: 300;}
.ALUI-Anchor-weight-regular {font-weight: 500;}
.ALUI-Anchor-weight-bold {font-weight: 900;}