/* Size */
.ALUI-Text-size-s {font-size: 11px;}
.ALUI-Text-size-md {font-size: 13px;}
.ALUI-Text-size-l {font-size: 16px;}

/* Weight */
.ALUI-Text-weight-light {font-weight: 300;}
.ALUI-Text-weight-regular {font-weight: 600;}
.ALUI-Text-weight-bold {font-weight: 900;}

/* Italic */
.ALUI-Text-italic {font-style: italic;}
